.mine {
    width: 100%;
    min-height: 100vh;
    background: url('/tabbar/bgc.png') no-repeat;
    background-size: 100%;
    background-color: rgba(23, 22, 27, 1);
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 160px;

    .userInfo {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: red;
            }

            .nameRow {
                margin-left: 7px;

                .top {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;

                    .name {
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    .status {
                        // width: 46px;
                        padding: 0 4px;
                        height: 18px;
                        background: #165DFF;
                        border-radius: 23px 23px 23px 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 10px;
                        color: #FFFFFF;
                        margin-left: 4px;
                    }

                    .statusNomal {
                        padding: 0 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // width: 62px;
                        height: 18px;
                        background: linear-gradient(90deg, #EF5A80 0%, #E5154C 100%);
                        border-radius: 23px 23px 23px 23px;
                        font-weight: 400;
                        font-size: 10px;
                        color: #FFFFFF;

                        .idcard {
                            width: 11px;
                            height: 10px;
                            margin-right: 2px;
                        }
                    }
                }

                .share {
                    font-weight: 400;
                    font-size: 12px;
                    color: #C9CDD4;
                }
            }
        }

        .arrow {
            width: 16px;
            height: 16px;
            background: url('/mine/arrow.png') no-repeat center;
            background-size: 100%;
        }
    }

    .assets {
        background: #242426;
        border-radius: 10px 10px 10px 10px;
        padding: 16px 11px 16px 12px;
        margin-bottom: 12px;

        .title {
            font-weight: 500;
            font-size: 16px;
            color: #C9CDD4;
            margin-bottom: 8px;
        }

        .nftRow {
            height: 78px;
            background: #343438;
            border-radius: 8px 8px 8px 8px;
            padding: 12px;
            display: flex;
            align-items: center;

            .nft {
                width: 42px;
                height: 54px;
                margin-right: 12px;
            }

            .namerow {
                p {
                    font-weight: bold;
                    font-size: 20px;
                    color: #FFFFFF;
                    margin: 0;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                    color: #86909C;
                    margin-top: 4px;
                }
            }
        }

        .dtvrow {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dtv {
                width: 158px;
                background: #343438;
                border-radius: 8px 8px 8px 8px;
                padding: 15px 12px;

                .num {
                    font-weight: bold;
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-top: 8px;
                }

                .pop {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 12px;
                    color: #86909C;

                    .pointb {
                        width: 6px;
                        height: 6px;
                        background: #165DFF;
                        border-radius: 50%;
                        margin-right: 4px;
                    }

                    .pointy {
                        width: 6px;
                        height: 6px;
                        background: #FF7D00;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                }

                .dtvimg {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 10px;
                    color: #86909C;
                    margin-right: 6px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        margin-right: 4px;
                    }

                    .arrow {
                        width: 18px;
                        height: 18px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .container {
        margin-top: 12px;
        background: #242426;
        border-radius: 10px 10px 10px 10px;
        padding: 0 9px;

        .mypool {
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;

            .optionLeft {
                display: flex;
                align-items: center;

                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }

                .optionname {
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }

            .arroww {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.language {
    background-color: rgba(23, 22, 27, 1);
    height: 260px;
    border-radius: 8px 8px 0 0;
    padding: 18px 14px;

    .tips {
        height: 28px;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .lunItem {
        height: 52px;
        background: rgba(36, 36, 38, 1);
        border-radius: 8px 8px 8px 8px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    .lunItemActive {
        height: 52px;
        background: rgba(255, 110, 145, 1);
        border-radius: 8px 8px 8px 8px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }
}