.mask {
  z-index: 9999999999999;

  .adm-modal-body {
    z-index: 9999999999999;
    background-color: rgba(0, 0, 0, .5);

    .adm-auto-center-content {
      z-index: 9999999999999;
      color: #fff;
    }
  }
}

.loading {
  margin: 280px auto;
}

.lottie {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}