.mask {
  z-index: 9999999999999;

  .adm-modal-body {
    z-index: 9999999999999;
    background-color: rgba(0, 0, 0, .5);

    .adm-auto-center-content {
      z-index: 9999999999999;
      color: #fff;
    }
  }
}

.loading {
  margin: 280px auto;
}

.lottie {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .detv {
    text-align: center;
    font-size: 15px;
    color: #ff6e91;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    div {
      margin: 5px;
      animation: scaleUp 3s infinite;
    }
  }



  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(2);
      /* 字母从小到大 */
    }
  }

}