.page{
    width: 100%;
    padding: 12px 12px 100px 12px;
    min-height: 100vh;
    background-color: #17161B;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 4px 16px 4px;
        .navTitle{
            font-family: PingFang SC, PingFang SC;
                font-weight: 500;
                font-size: 22px;
                color: #FFFFFF;
                line-height: 26px;
        }
        .navIcon{
            width: 24px;
            height: 24px;
            .navIconImg{
                width: 100%;
                height: 100%;
            }
        }
    }
    .purse{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .purseicon{
            width: 16px;
            height: 16px;
            .purseiconImg{
                width: 100%;
                height: 100%;

            }
        }
        .price{
            font-family: D-DIN-DIN, D-DIN-DIN;
                font-weight: bold;
                font-size: 14px;
                color: #86909C;
                line-height: 16px;
                margin-left: 2px;
        }
    }
    .exchangeArea{
        position: relative;
        margin-top: 8px;
        .exchange{
            background-color: #242426;
            border-radius: 10px;
            padding:24px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            .left{
                display: flex;
                align-items: center;
                .icon{
                    width: 40px;
                    height: 40px;
                    .iconImg{
                        width: 100%;
                        height: 100%;

                    }
                }
                .text{
                    font-family: PingFang SC, PingFang SC;
                        font-weight: 600;
                        font-size: 16px;
                        color: #FFFFFF;
                        line-height: 19px;
                        margin-left: 8px;
                }
            }
            .right{
                width: 50%;
                .price{
                    text-align: right!important;
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 500;
                    font-size: 22px;
                    color: #86909C;
                    line-height: 26px;
                    direction: 'rtl';
                    caretColor: '#FF6E91';
                }
            }
        }
        .arrow{
            position: absolute;
            top: 50%;
            left: 50%;   
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            .arrowImg{
                width: 100%;
                height: 100%;
            }
        }
    }
    .subscription{
        font-family: D-DIN, D-DIN;
        font-weight: 400;
        font-size: 14px;
        color: #5A5B5D;
        line-height: 16px;
        text-align: center;
        margin-top: 16px;
    }
    .button{
        .buttonText{
            padding: 14px 0;
            background: linear-gradient(90deg, #EF5A80 0%, #E5154C 100%);
            border-radius: 8px 8px 8px 8px;
            font-family: PingFang SC, PingFang SC;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 22px;
                text-align: center;
                margin-top: 50px;
        }
    }
    
}
